*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.anchor-element{
    text-decoration: none;
    color:#ffffff;
}
#drop-item{
    text-decoration: none;
    list-style-type: none;
    margin-right:25px;
    color:rgb(29, 28, 28);
    font-weight:500;
    font-size:18px;
    text-decoration:none;
    list-style-type:none;
    

}
.dropdown-item{
    padding:10px;
    margin-right:2px;
}

.first-div{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left:40px;
    margin-top:20px;
    list-style-type:none;
}
@media screen and (max-width:426px){
    .first-div{
        margin-left:0px;
        
    }
}
.second-div{

    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left:40px;
    margin-top:20px;
    list-style-type:none;
}
@media screen and (max-width:426px){
    .second-div{
        display:none;
        margin-left:5px;
         
    }
}

.eng-drop{
    display:flex;
    flex-direction:row;
    
    
}
.image-part{
    margin-left:25px;
}
@media screen and (max-width:426px){
    .image-part{
        height:80px;
        width:100px;
        margin-left:10px;
    }
}
    

.flag-image{
    height:40px;
    width:40px;
    padding-right:10px;
}
.english-name{
    padding-top:10px;
    font-size:15px;
}
.second-part{
    margin-right:100px;
}
@media screen and (max-width:426px){
    .second-part{
        margin-right:20px;
    }
}
.nav-1-div{
    display:flex;
    flex-direction: row;
    
    margin-left:40px;
    margin-top:20px;
    list-style-type:none;
}
@media screen and (max-width:426px){
    .nav-1-div{
        margin-left:5px;
    }
}
@media screen and (max-width:426px){
    .nav-1-div>li>a{
        display:none;
    }
}
.one-con{
    display:flex;
    flex-direction:row;
    
    height:200px;
}
.two-con{
    display:flex;
    flex-direction:row;
    padding-bottom:25px;
    height:400px;
}
.three-con{
    display:flex;
    flex-direction:row;
    padding-bottom:25px;
    height:300px;
}
.product-container{
    border:1px solid rgba(137, 133, 133, 0.447);
    border-radius:15px;
    padding:15px;
    text-align:center;
}
.product-image{
    height:230px;
    width:250px;
}
.product-name{
    font-size:20px;
    font-weight:600;
    color:black;
    font-family: "Roboto";
}
.product-para{
    font-size:14px;
    color:rgb(140, 139, 139);

}
#color{
    color:rgb(228, 69, 154);
    padding-bottom:20px;
    font-weight:500;
    font-size:20px;
}
#color-1{
    font-weight:500;
    color:black;
    padding-bottom:25px;
    font-size:15px;

}
.nav-btn{
    color:#ffffff;
    background-color:purple;
    border-radius:20px;
    border-width:0px;
    padding:10px;
    height:45px;
    width:170px;
    margin-left:400px;
}
@media screen and (max-width:426px){
    .nav-btn{
        margin-left:150px;
        height:35px;
        width:100px;
        padding-bottom:20px;
        margin-bottom:25px;
        
        
    }
}
.nav-line{
    color:rgba(161, 159, 159, 0.87);
    
}
@media screen and (max-width:426px){
    .nav-line{
        display:none;
    }
}
.footer-container{
    background-color:rgb(21, 38, 38);
    background-size:cover;
    height: 800px;
    

}
@media screen and (max-width:426px){
    .footer-container{
    
        height:2200px;
     

    }
    
    
}
@media screen and (min-width:426px) and (max-width:769px){
    .footer-container{
        width:1400px;
    }
    .second-div>ul>li>a{
        font-size:30px;
    }
}
@media screen and (min-width:769px) and (max-width:1025px){
    .footer-container{
        width:1410px;
    }
}
.stay-header{
    color:white;
    font-weight:500;
    font-size:30px;
    height:50vh;
    text-align:center;
    
    
}

.footer-con>h1{
color: #ffffff;
text-align:center;
padding-top:30px;


}
.footer-con>input{
    margin-left: 600px;
    
    padding:8px;
    border-radius:20px;
    border-width:0px;

}
@media screen and (max-width:426px){
    .footer-con>input{
        margin-left:0px;
    }
}
.footer-con>button{
    background-color:rgb(195, 43, 226);
    color:#ffffff;
    margin-left:15px;
    border-width:0px;
    border-radius:20px;
    padding:10px;
}
.list-container{
    display:flex;
    color:#ffffff;
    padding:20px;
}
@media screen and (max-width:426px){
    .list-container{
        display:flex;
        flex-direction:column;
        align-items:center;
        padding-left:0px;
    }
}
.unorder-list{
    list-style-type:none;
    padding-bottom:20px;
    
}
@media screen and (max-width:426px){
    .unorder-list{
        align-items:center;
        padding-right:120px;
    }
}
.unlist-item{
   padding-bottom:15px;
   font-size:16px;
}
.unlist-item:hover{
    color:rgb(247, 36, 173);
}
.top-list-item{
    padding-bottom:18px;
    font-size:22px;
    font-weight:500;
}

.hr-line{
    margin-left:50px;
    margin-right:50px;
    color:rgb(203, 199, 199);
}
@media screen and (max-width:426px){
    .hr-line{
        margin-left:5px;
        margin-right:5px;
    }
}
.last-logo{
    padding:45px;
}
@media screen and (max-width:426px){
    .last-logo{
        padding:5px;
    }
}
.last-con{
    display:flex;
    color:#ffffff;
    justify-content: space-between;
    margin-left:50px;
    margin-right:50px;


}
@media screen and (max-width:426px){
    .last-con{
        display:flex;
        flex-direction:column;
        margin-left:5px;
        margin-right:5px;

    }
}
.last-class{
    margin-left:30px;
}
@media screen and (max-width:426px){
    .last-class{
        margin-left:10px;
    }
}



/* Laptop View */
@media screen and (min-width:426px) and (max-width:1026px){

}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.head{
    width: 500px;
    margin-left: 40px;
    margin-top: 100px;
    padding-bottom: 10px;
    padding-left: 50px;
}
    
       
.para{
    width:400px;
    margin-left: 40px;
    padding:10px;
    padding-left: 50px;
      
}
.image{
    width:100px;
    padding-left: 100px;
}


    

.div0{
    display: flex;
    background-color: antiquewhite;
    width: 100%; 
}



    
.click{
    width: 180px;
    margin-left: 80px;
    border-radius: 20px;
    border-width: 0px;
    background-color:mediumvioletred;
    color: white;
    padding:10px;
    cursor: pointer;
    
    
}
.para1{
   margin-left: 310px; 
}

  .image1{
    display: flex;
} 
.image2{
    padding: 20px;
}


 


.head1{
    width: 470px;
    margin-left: 100px;
    padding-top: 100px;
}
.para2{
    width: 465px;
    margin-left:100px ;
    padding: 10px;
}
.div1{
    display: flex;
}
.image9{
    padding: 50px;
}
.div2{
    display: flex;
}
.head2{
    padding-top: 150px;
}
.para3{
    width: 400px;
    padding: 20px;
}

.div3{
    display: flex;
}

.head3{
    width: 400px;
    padding-top: 200px;
    margin-left: 50px;
}

.para4{
    width: 400px;
    margin-left: 50px;
}

.image10{
    padding-left: 250px;
}
.div4{
    display: flex;
}
.head4{
    padding-top: 120px;
}
.para5{
    padding-top: 20px;
    width: 440px;
}


.head5{
    padding-top: 100px;
    margin-left: 250px;
}
.div5{
    display: flex;
    margin-left: 350px;
  
}
.teja{
    display: flex;
    width: 200px;
   
}
.teja>p{
    padding: 10px;
}
.teja1{
    display: flex;
    width: 200px;
   
}
.teja1>p{
    padding: 10px;
}

.teja2{
    display: flex;
    width: 200px;
   
}
.teja2>p{
    padding: 10px;
}

.i1{
    margin-left: 10px;
}
.div6{
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
   
}
.sai1>img,.sai2>img,.sai3>img{
    width: 400px;
    height: 200px;
}
.sai1>h3,.sai2>h3,.sai3>h3{
    text-align: center;
    color: black;
}
.sai1>p,.sai2>p,.sai3>p{
    width: 350px;
    text-align: center;
    padding-top: 30px;
    padding-left: 50px;
    color: gray;

}
.sai1>button,.sai2>button,.sai3>button{
    margin-left: 100px;
    margin-top:20px;
    cursor: pointer;
    background-color: palevioletred;
    border-width: 0px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    
}
.sai1,.sai2,.sai3{
    height: 500px;
    margin-left: 10px;
    box-shadow: 3px 3px 3px 3px gray;
}
.div7{
    margin-top: 40px;
}
.div7>h4{
    text-align: center;
    color: palevioletred;
}
.div7>p{
    width:500px;
    margin-left: 450px;
    margin-top: 10px;
    
}


.head10{
    margin-left: 400px;
    margin-top: 150px;
    color: palevioletred;
}
.para9{
    width: 500px;
    margin-left: 320px;
    margin-top: 20px;
}

.image14{
    width:100px;
    padding: 20px;
}
.image15{
    width: 100px;
    padding: 20px;
}
.div8{
    display: flex;
    margin-left: 350px;
}

.head12{
    padding: 20px;
}

.frame{
    margin-left: 320px;
    margin-top: 150px;
    border-radius: 40px;
}
.image16{
  position:relative ;
bottom: 200px;
right: 150px;
}
.image17{
    position: relative;
    bottom: 100px;
    right: 100px;
}
.image18{
    position: relative;
    bottom: 300px;
    right: 200px;
}

.div9{
    display: flex;
    
}
.image19{
    position: relative;
    left: 600px;
    bottom: 200px;
    
}

.image20{
    position: relative;
    left: 640px;
    bottom: 300px;

}
.head13{
    margin-top: 200px;
    color:palevioletred ;
    margin-left: 100px;
    font-size: 20px;
}
.head14{
    margin-left: 100px;
    width: 420px;
}
.click4{
    
    width: 180px;
    margin-left: 100px;
    border-radius: 20px;
    border-width: 0px;
    background-color:mediumvioletred;
    color: white;
    padding:10px;
    margin-top: 20px;
    cursor: pointer;
        
        
}

.head15{
    display: flex;
    background-color: antiquewhite;
   
}
.head16{
    border: 1px solid aliceblue;
    width: 350px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 20px;  
    margin-top: 20px;
   
}
.head16>h1{
    font-size: 20px;
}
.head17{
    border: 1px solid aliceblue;
    width: 350px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 10px;
   
}
.head17>h1{
    font-size: 20px;
}
 .head18{
    border: 1px solid aliceblue;
    width: 350px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 10px;
   
} 
.head18>h1{
    font-size: 20px;
}

.head19{
    border: 1px solid aliceblue;
    width: 350px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 40px;

}
.head19>h1{
    font-size: 20px;
}
.head20{
    border: 1px solid aliceblue;
    width: 350px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 40px;

}
.head20>h1{
    font-size: 20px;
}


.head21{
    border: 1px solid aliceblue;
    width: 350px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 40px;

}
.head21>h1{
font-size: 20px;
}

.head22{
    text-align: center;
    font-size: 20px;
    margin-top: 200px;
    color: palevioletred;

}

.head23{
    text-align: center;
    margin-top: 20px;
}

.para11{
    width: 550px;
    margin-left: 380px;
    margin-top: 20px;
    
}

.div9{
    display: flex;
    padding-left: 200px;
    margin-top: 20px;
}

.image21{
    padding: 20px;
    width: 100px; 
}




.click5{
    width: 150px;
    margin-left: 420px;
    border-radius: 20px;
    border-width: 0px;
    background-color:mediumvioletred;
    color: white;
    padding:10px;
    cursor: pointer;

}

.head24{
    width: 550px;
    margin-left: 400px;
    padding-top: 100px;
}
.para12{
    text-align: center;
    padding-top: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.click6{
    width: 150px;
    margin-left: 560px;
    border-radius: 20px;
    border-width: 0px;
    background-color:mediumvioletred;
    color: white;
    padding:10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.div10{
    background-color: antiquewhite;
    margin-top: 50px;
    
}
 /*laptop*/
@media screen  and (min-width:769px) and (max-width:1025px) {
   .div0{
    /* width: 100%; */
   }
  .sai1,.sai2,.sai3 {
    width: 350px;
    margin-left: 30px;
  }
  .sai1>img,.sai2>img,.sai3>img{
    width: 350px;
  }
  .sai1>p,.sai2>p,.sai3>p{
    width: 350px;
    text-align: justify ;
    margin-left: -30px;
  }
  .head16,.head17,.head18,.head19,.head20,.head21{
    width: 250px;
    font-size: 10px;
    margin-left: 100px;
  }

}


