*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.anchor-element{
    text-decoration: none;
    color:#ffffff;
}
#drop-item{
    text-decoration: none;
    list-style-type: none;
    margin-right:25px;
    color:rgb(29, 28, 28);
    font-weight:500;
    font-size:18px;
    text-decoration:none;
    list-style-type:none;
    

}
.dropdown-item{
    padding:10px;
    margin-right:2px;
}

.first-div{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left:40px;
    margin-top:20px;
    list-style-type:none;
}
@media screen and (max-width:426px){
    .first-div{
        margin-left:0px;
        
    }
}
.second-div{

    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left:40px;
    margin-top:20px;
    list-style-type:none;
}
@media screen and (max-width:426px){
    .second-div{
        display:none;
        margin-left:5px;
         
    }
}

.eng-drop{
    display:flex;
    flex-direction:row;
    
    
}
.image-part{
    margin-left:25px;
}
@media screen and (max-width:426px){
    .image-part{
        height:80px;
        width:100px;
        margin-left:10px;
    }
}
    

.flag-image{
    height:40px;
    width:40px;
    padding-right:10px;
}
.english-name{
    padding-top:10px;
    font-size:15px;
}
.second-part{
    margin-right:100px;
}
@media screen and (max-width:426px){
    .second-part{
        margin-right:20px;
    }
}
.nav-1-div{
    display:flex;
    flex-direction: row;
    
    margin-left:40px;
    margin-top:20px;
    list-style-type:none;
}
@media screen and (max-width:426px){
    .nav-1-div{
        margin-left:5px;
    }
}
@media screen and (max-width:426px){
    .nav-1-div>li>a{
        display:none;
    }
}
.one-con{
    display:flex;
    flex-direction:row;
    
    height:200px;
}
.two-con{
    display:flex;
    flex-direction:row;
    padding-bottom:25px;
    height:400px;
}
.three-con{
    display:flex;
    flex-direction:row;
    padding-bottom:25px;
    height:300px;
}
.product-container{
    border:1px solid rgba(137, 133, 133, 0.447);
    border-radius:15px;
    padding:15px;
    text-align:center;
}
.product-image{
    height:230px;
    width:250px;
}
.product-name{
    font-size:20px;
    font-weight:600;
    color:black;
    font-family: "Roboto";
}
.product-para{
    font-size:14px;
    color:rgb(140, 139, 139);

}
#color{
    color:rgb(228, 69, 154);
    padding-bottom:20px;
    font-weight:500;
    font-size:20px;
}
#color-1{
    font-weight:500;
    color:black;
    padding-bottom:25px;
    font-size:15px;

}
.nav-btn{
    color:#ffffff;
    background-color:purple;
    border-radius:20px;
    border-width:0px;
    padding:10px;
    height:45px;
    width:170px;
    margin-left:600px;
}
@media screen and (max-width:426px){
    .nav-btn{
        margin-left:150px;
        height:35px;
        width:100px;
        padding-bottom:20px;
        margin-bottom:25px;
        
        
    }
}
.nav-line{
    color:rgba(161, 159, 159, 0.87);
    
}
@media screen and (max-width:426px){
    .nav-line{
        display:none;
    }
}
.footer-container{
    background-color:rgb(21, 38, 38);
    background-size:cover;
    height: 800px;
    

}
@media screen and (max-width:426px){
    .footer-container{
    
        height:5000px;
        width:1200px;
     

    }
    
    
}
@media screen and (min-width:426px) and (max-width:769px){
    .footer-container{
        width:1400px;
    }
    .second-div>ul>li>a{
        font-size:30px;
    }
}
@media screen and (min-width:769px) and (max-width:1025px){
    .footer-container{
        width:1410px;
    }
}
.stay-header{
    color:white;
    font-weight:500;
    font-size:30px;
    height:50vh;
    text-align:center;
    
    
}

.footer-con>h1{
color: #ffffff;
text-align:center;
padding-top:30px;


}
.footer-con>input{
    margin-left: 600px;
    
    padding:8px;
    border-radius:20px;
    border-width:0px;

}
@media screen and (max-width:426px){
    .footer-con>input{
        margin-left:450px;
    }
}
.footer-con>button{
    background-color:rgb(195, 43, 226);
    color:#ffffff;
    margin-left:15px;
    border-width:0px;
    border-radius:20px;
    padding:10px;
}
.list-container{
    display:flex;
    color:#ffffff;
    padding:20px;
}
@media screen and (max-width:426px){
    .list-container{
        display:flex;
        flex-direction:column;
        align-items:center;
        padding-left:0px;
    }
}
.unorder-list{
    list-style-type:none;
    padding-bottom:20px;

    
}
@media screen and (max-width:426px){
    .unorder-list{
        align-items:center;
        padding-right:850px;

        
    }
}
.unlist-item{
   padding-bottom:15px;
   font-size:16px;
}
.unlist-item:hover{
    color:rgb(247, 36, 173);
}
.top-list-item{
    padding-bottom:18px;
    font-size:22px;
    font-weight:500;
}

.hr-line{
    margin-left:50px;
    margin-right:50px;
    color:rgb(203, 199, 199);
}
@media screen and (max-width:426px){
    .hr-line{
        margin-left:5px;
        margin-right:5px;
    }
    .unlist-item{
        padding-bottom:15px;
        
        font-size:42px;
     }
     .top-list-item{
        padding-bottom:18px;
        font-size:45px;
        font-weight:500;
    }
}
.last-logo{
    padding:45px;
}
@media screen and (max-width:426px){
    .last-logo{
        padding:25px;
        height:200px;
        width:200px;
        
    }
}
.last-con{
    display:flex;
    color:#ffffff;
    justify-content: space-between;
    margin-left:50px;
    margin-right:50px;


}
@media screen and (max-width:426px){
    .last-con{
        display:flex;
        flex-direction:column;
        margin-left:25px;
        margin-right:5px;


    }
    .last-con>p{
        font-size:40px;
    }
}
.last-class{
    margin-left:30px;
}
@media screen and (max-width:426px){
    .last-class{
        margin-left:10px;
    }
}



/* Laptop View */
@media screen and (min-width:426px) and (max-width:1026px){

}
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.update-first-con{
    background-color:rgb(1, 1, 20);
    height:23vh;
}
.update-first-image{
    height:70px;
    width:230px;
    margin-left:180px;
}
.update-first-head{
    color:#ffffff;
    text-align:center;
    font-size:35px;

}
.update-first-para{
    color:#ffffff;
    text-align:center;
    padding-top:10px;
    font-size:20px;
}
.update-second-image{
    height:800px;
    width:650px;
    text-align:center;
}
.update-second-para{
    color:rgb(121, 118, 118);
}
.update-second-para1{
    background-color:rgb(205, 203, 203);
    height:25px;
    width:150px;
    border-radius:10px;
    text-align:center;
    margin:15px;
}
.update-second-con1{
    display:flex;
    
}
.update-second-para2{
    font-size:18px;
    color:rgb(14, 14, 14);
    padding-bottom:30px;

}
.update-second-span{
    color:black;
    
    font-weight:600;
}
.update-second-con{
    border:2px solid rgb(208, 203, 203);
    padding:20px;
    margin:100px;
    border-radius:15px;
   
}
.update-second-image-con{
    display:flex;
    justify-content:center;
}
.update-para-container{
    padding:25px;
}
.update-second-head2{
    padding-bottom:15px;
}
.view-btn{
    color:rgb(65, 64, 64);
    border:1px solid rgb(87, 86, 86);
    border-radius:8px;
    height:35px;
    width:120px;
}
.view-btn-con{
    display:flex;
    justify-content:center;
}

/* Mobile View */
@media screen and (max-width:426px){
    .update-first-con{
        width:1200px;
        height:65vh;
       
    }
    .update-first-head{
        font-size:60px;


    }

    .update-first-para{
        display:none;
    }
    .update-first-image{
        height:150px;
        width:450px;
        margin-left:380px;
        margin-bottom:25px;
    }
    .update-second-con{
        height:3200px;
        width:1050px;
        margin-bottom:25px;
        box-shadow: 2px 2px black;

    }
    .update-second-para{
        font-size:45px;
    }
    .update-second-para1{
        font-size:32px;
        height:75px;
        width:250px;
        padding:8px;


    }
    .update-para-container>h2{
        font-size:50px;
    }
    .update-second-para2{
        font-size:46px;
    }
    .view-btn{
        height:100px;
        width:250px;
        font-size:35px;
        padding:10px;
    }
}
/* Tablet view */
@media screen and (min-width:426px) and (max-width:769px){
    .update-first-con{
        width:1400px;
        height:80vh;
       
    }
    .update-first-head{
        font-size:50px;


    }

    .update-first-para{
        font-size:26px;
    }
    .update-first-image{
        height:150px;
        width:450px;
        margin-left:380px;
        margin-bottom:25px;
    }
    .update-second-con{
        height:2400px;
        width:1100px;
        margin-bottom:25px;
        box-shadow: 2px 2px black;

    }
    .update-second-para{
        font-size:35px;
    }
    .update-second-para1{
        font-size:26px;
        height:75px;
        width:250px;
        padding:8px;


    }
    .update-para-container>h2{
        font-size:40px;
    }
    .update-second-para2{
        font-size:30px;
    }
    .view-btn{
        height:55px;
        width:250px;
        font-size:26px;
        padding:10px;
    }
}
/* Laptop view */
@media screen and (min-width:769px) and (max-width:1026px){
    .update-first-con{
        width:1420px;
        height:80vh;
       
    }
    .update-first-head{
        font-size:50px;
        padding-right:120px;


    }

    .update-first-para{
        font-size:30px;
        padding-right:120px;
    }
    .update-first-image{
        height:150px;
        width:450px;
        margin-left:300px;
        margin-bottom:25px;
    }
}